img {
    width: 200px;
}

.description {
    display: inline-block;
    width: 150px;
}

.galleryItem {
    border: 1px solid gray;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin: 20px;
}